-- Verificar datos existentes en model_values
SELECT 
  COUNT(*) as total_registros,
  COUNT(DISTINCT model_id) as modelos_unicos,
  MIN(period_date) as fecha_mas_antigua,
  MAX(period_date) as fecha_mas_reciente
FROM model_values;

-- Ver algunos registros de ejemplo
SELECT 
  mv.*,
  u.name as model_name,
  u.email
FROM model_values mv
JOIN users u ON mv.model_id = u.id
ORDER BY mv.updated_at DESC
LIMIT 5;
