-- Verificar plataformas sincronizadas
SELECT 
  cp.name as platform_name,
  cp.id as platform_id,
  COUNT(mp.id) as models_count,
  STRING_AGG(DISTINCT u.name, ', ') as models_names
FROM modelo_plataformas mp
JOIN calculator_platforms cp ON mp.platform_id = cp.id
JOIN users u ON mp.model_id = u.id
WHERE mp.is_initial_config = true
GROUP BY cp.name, cp.id
ORDER BY cp.name;
