-- Verificar qué modelos tienen qué plataformas activas actualmente
SELECT 
  u.name as model_name,
  u.id as model_id,
  cc.enabled_platforms,
  jsonb_array_length(cc.enabled_platforms) as platforms_count
FROM users u
JOIN calculator_config cc ON u.id = cc.model_id
WHERE u.role = 'model' AND cc.active = true
ORDER BY u.name;
