-- Verificar TODAS las plataformas disponibles en calculator_platforms
SELECT 
  id,
  name,
  'Disponible en catálogo' as status
FROM calculator_platforms 
ORDER BY name;

-- Verificar cuáles NO se sincronizaron
SELECT 
  cp.id,
  cp.name,
  'NO sincronizada' as status
FROM calculator_platforms cp
LEFT JOIN modelo_plataformas mp ON cp.id = mp.platform_id
WHERE mp.platform_id IS NULL
ORDER BY cp.name;
