-- Verificar estructura de calculator_totals
SELECT 
  column_name,
  data_type,
  is_nullable,
  column_default
FROM information_schema.columns 
WHERE table_name = 'calculator_totals'
ORDER BY ordinal_position;

-- Ver datos actuales en calculator_totals
SELECT 
  ct.*,
  u.name as model_name
FROM calculator_totals ct
JOIN users u ON ct.model_id = u.id
ORDER BY ct.updated_at DESC
LIMIT 3;
