-- Verificar modelos Satélite y Otros
SELECT 
  u.id,
  u.email,
  u.name,
  u.organization_id,
  o.name as organization_name
FROM users u
LEFT JOIN organizations o ON u.organization_id = o.id
WHERE u.role = 'modelo' 
  AND u.is_active = true
  AND (u.name ILIKE '%satélite%' OR u.name ILIKE '%otros%' OR u.organization_id IS NULL)
ORDER BY u.name;
