-- PASO 1: Verificar estructura de calculator_history
SELECT 
  column_name,
  data_type,
  is_nullable,
  column_default
FROM information_schema.columns 
WHERE table_name = 'calculator_history' 
ORDER BY ordinal_position;
