-- Verificar si hay datos en calculator_totals después del deploy
SELECT 
  COUNT(*) as total_registros,
  COUNT(DISTINCT model_id) as modelos_unicos,
  MIN(period_date) as fecha_mas_antigua,
  MAX(period_date) as fecha_mas_reciente,
  SUM(total_usd_bruto) as suma_total_usd_bruto,
  SUM(total_usd_modelo) as suma_total_usd_modelo
FROM calculator_totals;

-- Ver registros recientes
SELECT 
  ct.*,
  u.name as model_name,
  u.email
FROM calculator_totals ct
JOIN users u ON ct.model_id = u.id
ORDER BY ct.updated_at DESC
LIMIT 10;
