-- Verificar organization_id de los modelos
SELECT 
  id,
  email,
  organization_id,
  CASE 
    WHEN organization_id IS NULL THEN 'NULL'
    WHEN organization_id = 'f19ad7b8-9e7a-4fa4-9669-818dcefd47bf' THEN 'VÁLIDO'
    ELSE 'INVÁLIDO'
  END as estado_org
FROM users 
WHERE role = 'modelo' 
  AND is_active = true
ORDER BY organization_id;
