-- Verificar si hay datos en calculator_totals
SELECT 
  COUNT(*) as total_registros,
  COUNT(DISTINCT model_id) as modelos_unicos,
  MIN(period_date) as fecha_mas_antigua,
  MAX(period_date) as fecha_mas_reciente
FROM calculator_totals;

-- Ver algunos registros de ejemplo
SELECT 
  ct.*,
  u.name as model_name,
  u.email
FROM calculator_totals ct
JOIN users u ON ct.model_id = u.id
ORDER BY ct.updated_at DESC
LIMIT 5;
