-- Verificar grupos y sus organizaciones
SELECT 
  g.id as group_id,
  g.name as group_name,
  g.organization_id,
  o.name as organization_name
FROM groups g
LEFT JOIN organizations o ON g.organization_id = o.id
ORDER BY g.name;
