-- Verificar los roles de los usuarios con calculator_config
SELECT 
  u.id,
  u.name,
  u.role,
  cc.active,
  jsonb_array_length(cc.enabled_platforms) as platform_count
FROM calculator_config cc
JOIN users u ON cc.model_id = u.id
WHERE cc.active = true
ORDER BY u.name;

-- Verificar todos los roles únicos en la tabla users
SELECT DISTINCT role, COUNT(*) as count
FROM users 
GROUP BY role
ORDER BY role;
