-- Verificar configuración de plataformas
SELECT 
  id,
  name,
  currency,
  formula,
  enabled
FROM calculator_platforms 
WHERE id IN ('hegre', 'camcontacts', 'modelka', 'xmodels', 'livecreator', 'big7', '777', 'vx')
ORDER BY id;
