-- Verificar datos de organizaciones y modelos
SELECT 
  'Organizaciones existentes' as tipo,
  id,
  name
FROM organizations
UNION ALL
SELECT 
  'Modelos con organization_id' as tipo,
  organization_id as id,
  email as name
FROM users 
WHERE role = 'modelo' 
  AND is_active = true
  AND organization_id IS NOT NULL
LIMIT 20;
