-- PASO 5: Verificar datos reales en model_values
SELECT 
  model_id,
  platform_id,
  value,
  value_usd,
  tokens,
  period_date,
  updated_at
FROM model_values 
WHERE value > 0
ORDER BY updated_at DESC
LIMIT 10;
