-- PASO 2: Verificar datos existentes en calculator_history
SELECT 
  COUNT(*) as total_registros,
  COUNT(DISTINCT model_id) as modelos_unicas,
  COUNT(DISTINCT platform_id) as plataformas_unicas,
  MIN(period_date) as fecha_mas_antigua,
  MAX(period_date) as fecha_mas_reciente,
  MIN(archived_at) as primer_archivo,
  MAX(archived_at) as ultimo_archivo
FROM calculator_history;
