-- PASO 1: Verificar estructura y datos de la tabla rates
SELECT 
  column_name,
  data_type,
  is_nullable,
  column_default
FROM information_schema.columns 
WHERE table_name = 'rates' 
ORDER BY ordinal_position;
