-- PASO 1: Crear tabla calculator_totals para totales consolidados
CREATE TABLE IF NOT EXISTS calculator_totals (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  model_id UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  period_date DATE NOT NULL,
  total_usd_bruto DECIMAL(18,2) DEFAULT 0,
  total_usd_modelo DECIMAL(18,2) DEFAULT 0,
  total_cop_modelo DECIMAL(18,2) DEFAULT 0,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW(),
  UNIQUE(model_id, period_date)
);

-- Índices para optimizar consultas
CREATE INDEX IF NOT EXISTS idx_calculator_totals_model_id ON calculator_totals(model_id);
CREATE INDEX IF NOT EXISTS idx_calculator_totals_period_date ON calculator_totals(period_date);
CREATE INDEX IF NOT EXISTS idx_calculator_totals_model_period ON calculator_totals(model_id, period_date);

-- RLS (Row Level Security)
ALTER TABLE calculator_totals ENABLE ROW LEVEL SECURITY;

-- Política: Los modelos solo pueden ver sus propios totales
CREATE POLICY \
Models
can
view
own
totals\ ON calculator_totals
  FOR SELECT USING (auth.uid() = model_id);

-- Política: Admins pueden ver todos los totales
CREATE POLICY \Admins
can
view
all
totals\ ON calculator_totals
  FOR SELECT USING (
    EXISTS (
      SELECT 1 FROM users 
      WHERE users.id = auth.uid() 
      AND users.role IN ('admin', 'super_admin')
    )
  );

-- Política: Solo el sistema puede insertar/actualizar (via service role)
CREATE POLICY \System
can
manage
totals\ ON calculator_totals
  FOR ALL USING (true);

-- Comentarios para documentación
COMMENT ON TABLE calculator_totals IS 'Totales consolidados de calculadora por modelo y período';
COMMENT ON COLUMN calculator_totals.model_id IS 'ID del modelo propietario de los totales';
COMMENT ON COLUMN calculator_totals.period_date IS 'Fecha del período de los totales';
COMMENT ON COLUMN calculator_totals.total_usd_bruto IS 'Total USD Bruto del período';
COMMENT ON COLUMN calculator_totals.total_usd_modelo IS 'Total USD Modelo del período';
COMMENT ON COLUMN calculator_totals.total_cop_modelo IS 'Total COP Modelo del período';
