-- Verificar los model_id específicos y sus usuarios
SELECT 
  cc.model_id,
  u.name,
  u.role,
  cc.active,
  jsonb_array_length(cc.enabled_platforms) as platform_count
FROM calculator_config cc
LEFT JOIN users u ON cc.model_id = u.id
WHERE cc.active = true
ORDER BY u.name;

-- Verificar si los model_id existen en users
SELECT 
  cc.model_id,
  CASE WHEN u.id IS NOT NULL THEN 'EXISTS' ELSE 'NOT FOUND' END as user_status
FROM calculator_config cc
LEFT JOIN users u ON cc.model_id = u.id
WHERE cc.active = true;
