SELECT 'Laura Patricia - Asignaciones:' as info; SELECT * FROM modelo_assignments WHERE model_id = 'f0217a65-4ec6-4c9a-b935-758bc2a6831f'; SELECT 'Elizabeth - Asignaciones:' as info; SELECT * FROM modelo_assignments WHERE model_id = 'c8a156fb-1a56-4160-a63d-679c36bda1e7';
