-- Paso 1: Verificar si hay usuarios con role 'model'
SELECT 
  id,
  name,
  email,
  role
FROM users 
WHERE role = 'model'
ORDER BY name;

-- Paso 2: Verificar si hay calculator_config activos
SELECT 
  id,
  model_id,
  active,
  enabled_platforms
FROM calculator_config 
WHERE active = true
LIMIT 5;

-- Paso 3: Verificar la relación entre users y calculator_config
SELECT 
  u.name,
  u.role,
  cc.active,
  cc.enabled_platforms IS NOT NULL as has_platforms
FROM users u
LEFT JOIN calculator_config cc ON u.id = cc.model_id
WHERE u.role = 'model'
ORDER BY u.name;
