-- Función corregida para sincronizar con role 'modelo'
CREATE OR REPLACE FUNCTION sync_existing_calculator_platforms()
RETURNS TEXT AS check_user_roles.sql
DECLARE
  v_config_record RECORD;
  v_platform_id TEXT;
  v_synced_count INTEGER := 0;
BEGIN
  -- Iterar sobre todas las configuraciones de calculadora (CORREGIDO: role = 'modelo')
  FOR v_config_record IN 
    SELECT cc.model_id, cc.enabled_platforms, cc.admin_id
    FROM calculator_config cc
    JOIN users u ON cc.model_id = u.id
    WHERE cc.active = true AND u.role = 'modelo'
  LOOP
    -- Iterar sobre las plataformas habilitadas (array JSON)
    FOR v_platform_id IN 
      SELECT jsonb_array_elements_text(v_config_record.enabled_platforms)
    LOOP
      -- Insertar o actualizar en modelo_plataformas
      INSERT INTO modelo_plataformas (
        model_id,
        platform_id,
        status,
        requested_at,
        delivered_at,
        confirmed_at,
        requested_by,
        delivered_by,
        confirmed_by,
        is_initial_config,
        calculator_sync,
        calculator_activated_at
      ) VALUES (
        v_config_record.model_id,
        v_platform_id,
        'entregada',
        now(),
        now(),
        now(),
        v_config_record.admin_id,
        v_config_record.admin_id,
        v_config_record.model_id,
        true,
        true,
        now()
      )
      ON CONFLICT (model_id, platform_id) 
      DO UPDATE SET
        status = CASE 
          WHEN modelo_plataformas.status = 'inviable' THEN modelo_plataformas.status 
          ELSE 'entregada' 
        END,
        is_initial_config = true,
        calculator_sync = true,
        calculator_activated_at = COALESCE(modelo_plataformas.calculator_activated_at, now()),
        updated_at = now();
      
      v_synced_count := v_synced_count + 1;
    END LOOP;
  END LOOP;
  
  RETURN 'Sincronizadas ' || v_synced_count || ' plataformas de ' || (SELECT COUNT(*) FROM users WHERE role = 'modelo') || ' modelos';
END;
\$\$ LANGUAGE plpgsql;

-- Ejecutar la sincronización corregida
SELECT sync_existing_calculator_platforms();
