-- =====================================================
-- 🔧 FIX: Políticas RLS para permitir acceso a modelo_assignments
-- =====================================================

-- 1. Política para que service_role pueda leer modelo_assignments
CREATE POLICY "Service role can read all assignments" ON modelo_assignments
FOR SELECT TO service_role USING (true);

-- 2. Política para que service_role pueda insertar modelo_assignments
CREATE POLICY "Service role can insert assignments" ON modelo_assignments
FOR INSERT TO service_role WITH CHECK (true);

-- 3. Política para que service_role pueda actualizar modelo_assignments
CREATE POLICY "Service role can update assignments" ON modelo_assignments
FOR UPDATE TO service_role USING (true);

-- 4. Política para que service_role pueda eliminar modelo_assignments
CREATE POLICY "Service role can delete assignments" ON modelo_assignments
FOR DELETE TO service_role USING (true);

-- 5. Política para que service_role pueda leer jornada_states
CREATE POLICY "Service role can read jornada states" ON jornada_states
FOR SELECT TO service_role USING (true);

-- 6. Política para que service_role pueda actualizar jornada_states
CREATE POLICY "Service role can update jornada states" ON jornada_states
FOR UPDATE TO service_role USING (true);

-- 7. Política para que service_role pueda insertar jornada_states
CREATE POLICY "Service role can insert jornada states" ON jornada_states
FOR INSERT TO service_role WITH CHECK (true);

-- 8. Política para que service_role pueda leer group_rooms
CREATE POLICY "Service role can read group rooms" ON group_rooms
FOR SELECT TO service_role USING (true);

-- =====================================================
-- ✅ VERIFICACIÓN: Listar políticas creadas
-- =====================================================
SELECT 
  schemaname,
  tablename,
  policyname,
  permissive,
  roles,
  cmd,
  qual
FROM pg_policies 
WHERE tablename IN ('modelo_assignments', 'jornada_states', 'group_rooms')
  AND policyname LIKE '%Service role%'
ORDER BY tablename, policyname;