-- Actualizar organization_id de modelos basado en su grupo
UPDATE users 
SET organization_id = g.organization_id
FROM user_groups ug
JOIN groups g ON ug.group_id = g.id
WHERE users.id = ug.user_id
  AND users.role = 'modelo'
  AND users.organization_id IS NULL
  AND g.organization_id IS NOT NULL;

-- Verificar que se actualizó correctamente
SELECT 
  u.id,
  u.name,
  u.organization_id,
  o.name as organization_name
FROM users u
LEFT JOIN organizations o ON u.organization_id = o.id
WHERE u.role = 'modelo' 
  AND u.is_active = true
ORDER BY u.name;
