-- Función para inicializar TODAS las plataformas para todas las modelos
CREATE OR REPLACE FUNCTION initialize_all_platforms_for_all_models()
RETURNS TEXT AS check_all_platforms.sql
DECLARE
  v_model_record RECORD;
  v_platform_record RECORD;
  v_initialized_count INTEGER := 0;
BEGIN
  -- Iterar sobre todas las modelos activas
  FOR v_model_record IN 
    SELECT DISTINCT u.id as model_id, cc.admin_id
    FROM users u
    JOIN calculator_config cc ON u.id = cc.model_id
    WHERE u.role = 'model' AND cc.active = true
  LOOP
    -- Para cada modelo, inicializar TODAS las plataformas como 'disponible'
    FOR v_platform_record IN 
      SELECT id as platform_id FROM calculator_platforms
    LOOP
      -- Insertar solo si no existe
      INSERT INTO modelo_plataformas (
        model_id,
        platform_id,
        status,
        requested_by
      ) VALUES (
        v_model_record.model_id,
        v_platform_record.platform_id,
        'disponible',
        v_model_record.admin_id
      )
      ON CONFLICT (model_id, platform_id) DO NOTHING;
      
      v_initialized_count := v_initialized_count + 1;
    END LOOP;
  END LOOP;
  
  RETURN 'Inicializadas ' || v_initialized_count || ' plataformas para todas las modelos';
END;
\$\$ LANGUAGE plpgsql;

-- Ejecutar la inicialización
SELECT initialize_all_platforms_for_all_models();
