-- Actualizar nombre de organización de 'Organización Principal' a 'Agencia Innova'
UPDATE organizations 
SET name = 'Agencia Innova'
WHERE id = 'f19ad7b8-9e7a-4fa4-9669-818dcefd47bf';

-- Verificar el cambio
SELECT id, name, created_at, updated_at 
FROM organizations 
WHERE id = 'f19ad7b8-9e7a-4fa4-9669-818dcefd47bf';
