-- Verificar plataformas sincronizadas después de la corrección
SELECT 
  cp.name as platform_name,
  cp.id as platform_id,
  COUNT(mp.id) as models_count
FROM modelo_plataformas mp
JOIN calculator_platforms cp ON mp.platform_id = cp.id
WHERE mp.is_initial_config = true
GROUP BY cp.name, cp.id
ORDER BY cp.name;

-- Verificar si aún faltan plataformas
SELECT 
  cp.id,
  cp.name,
  'NO sincronizada' as status
FROM calculator_platforms cp
LEFT JOIN modelo_plataformas mp ON cp.id = mp.platform_id
WHERE mp.platform_id IS NULL
ORDER BY cp.name;
