-- Verificar datos actuales en calculator_totals para diagnóstico
SELECT 
  ct.model_id,
  u.name as model_name,
  u.email,
  ct.period_date,
  ct.total_usd_bruto,
  ct.total_usd_modelo,
  ct.total_cop_modelo,
  ct.created_at,
  ct.updated_at
FROM calculator_totals ct
JOIN users u ON ct.model_id = u.id
WHERE ct.period_date = CURRENT_DATE
ORDER BY ct.updated_at DESC
LIMIT 10;
