-- Verificar datos detallados de calculator_totals
SELECT 
  ct.model_id,
  u.name as model_name,
  u.email,
  ct.period_date,
  ct.total_usd_bruto,
  ct.total_usd_modelo,
  ct.total_cop_modelo,
  ct.created_at,
  ct.updated_at
FROM calculator_totals ct
JOIN users u ON ct.model_id = u.id
ORDER BY ct.updated_at DESC
LIMIT 5;

-- Verificar datos individuales de model_values para comparar
SELECT 
  mv.model_id,
  u.name as model_name,
  mv.platform_id,
  mv.value,
  mv.period_date,
  mv.updated_at
FROM model_values mv
JOIN users u ON mv.model_id = u.id
WHERE mv.period_date = CURRENT_DATE
ORDER BY mv.updated_at DESC
LIMIT 10;
